server {
    listen 80;
    server_name ${PROJECT_DOMAIN};

    # HTTP에서 HTTPS로 리디렉션 설정 해제 (갱신 시에는 HTTP 접근 허용)
    # return 301 https://${DOLLAR}host${DOLLAR}request_uri;  # 인증 시 HTTP-01 인증이 필요하므로 리디렉션 비활성화

    # .well-known/acme-challenge 경로에 대해서만 접근 허용
    location ^~ /.well-known/acme-challenge/ {
        root ${NGINX_CHALLENGE_PATH};  # 이 경로는 certbot의 --webroot-path와 일치해야 함
        allow all;  # 모든 IP의 접근 허용
    }

    # 그 외의 모든 경로는 403으로 차단
    location / {
        return 403;
    }
}
